/BraveSoftware
/dconf
/discord
/gthumb
/gtk-2.0
/gtk-3.0
/htop
/kde.org
/neofetch
/notion-app
/pulse
/rofi
/spotify
/systemd
/Thunar
/xed
/xfce4
/yay
EOS-greeter.conf
EOS-initial-wallpaper.I3
eos-update-notifier.first_init
kglobalshortcutsrc
mimeapps.list
okularrc
pavucontrol.ini
QtProject.conf
spectaclerc
user-dirs.dirs
user-dirs.locale
/nitrogen
/qBittorrent
/GIMP
